.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width:768px) {
    .content{
        flex-direction: column;
        text-align: center;
    }
    .sites{
        margin-bottom: 30px;
    }
    .confooter{
        margin: 0 40px 0 0;
    }
}
.footer{
    background-color: #333;
    color: white;
    
}
ul{
    list-style: none;
}
.sites h6{
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px rgb(16, 77, 101);
    font-size: 18px;
    font-weight: bolder;

}
.social{
    position: relative;
    right: -35px;
}
.social ul{
    display: flex;
}
.social ul i{
    color: white;
    font-size: 25px;
    margin-right: 18px;
    padding: 10px 15px;
    background-color: rgba(238, 238, 238, 0.191);
    transition: 0.5s;
}

.social ul .fa-facebook-f:hover{
 color: #4267B2 !important;
}

.social ul .fa-youtube:hover{
    color: #FF0000 !important;
}

.social ul .fa-twitter:hover{
    color: #1DA1F2 !important;
}

.link li{
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid white;
}

.link a::before{
    content: "\f101";
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    font-weight: bold;
    color: white;
    margin:0 -20px
}
.link li a{
   -webkit-text-fill-color: white;
   -webkit-text-stroke: 1px #000;
   margin-left: 20px;
   transition: 0.5s;
}
.link a:hover{
    margin-left: 40px;
}


.address{
    display: flex;
    margin-bottom: 20px;
}

.address i{
    margin-right: 15px;
    font-size: 25px;
    color: white;
    position: relative;
    top:34px;
    margin-left: 10px;
}
.prag{
    display: block;

}
.prag p{
    color: white;
}

.btn{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    z-index: 20000;
    background: linear-gradient(to right,rgb(16, 77, 101)50% , rgb(46, 149, 189) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    display: none;
    cursor: pointer;
}
